@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 15, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  list-style: none; }

/* line 27, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.nav-item {
  width: 200px;
  border-bottom: 1px solid #ccc; }

/* line 32, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.nav-item a {
  display: block;
  padding: 1em;
  text-decoration: none; }

/* line 38, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.nav-item a:hover {
  color: #fff;
  background: #ccc; }

/* line 43, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.site-wrap {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 1em 4em 4em 4em;
  background-size: 200%; }

/* line 55, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

/* line 60, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
label[for="nav-trigger"] {
  position: fixed;
  left: 2em;
  top: 3em;
  z-index: 2;
  height: 35px;
  width: 35px;
  cursor: pointer;
  background-size: contain;
  background-image: url('../../images/i-menu.svg'); }
