@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?41621534');
  src: url('../fonts/fontello.eot?41621534#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?41621534') format('woff'), url('../fonts/fontello.ttf?41621534') format('truetype'), url('../fonts/fontello.svg?41621534#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?41621534#fontello') format('svg');
  }
}
*/
/* line 22, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-cancel:before {
  content: '\e800'; }

/* '' */
/* line 54, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-emo-grin:before {
  content: '\e801'; }

/* '' */
/* line 55, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-pin:before {
  content: '\e802'; }

/* '' */
/* line 56, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-angle-circled-down:before {
  content: '\e803'; }

/* '' */
/* line 57, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-vimeo:before {
  content: '\e804'; }

/* '' */
/* line 58, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-twitter:before {
  content: '\e805'; }

/* '' */
/* line 59, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-facebook:before {
  content: '\e806'; }

/* '' */
/* line 60, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-angle-down:before {
  content: '\e807'; }

/* '' */
/* line 61, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-user-pair:before {
  content: '\e808'; }

/* '' */
/* line 62, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-pencil:before {
  content: '\e809'; }

/* '' */
/* line 63, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-play-circled:before {
  content: '\e80a'; }

/* '' */
/* line 64, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-lock:before {
  content: '\e80b'; }

/* '' */
/* line 65, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-emo-laugh:before {
  content: '\e80c'; }

/* '' */
/* line 66, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-glyph:before {
  content: '\e80d'; }

/* '' */
/* line 67, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-glyph-1:before {
  content: '\e80e'; }

/* '' */
/* line 68, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-emo-wink:before {
  content: '\e80f'; }

/* '' */
/* line 69, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-link:before {
  content: '\e810'; }

/* '' */
/* line 70, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-art-gallery:before {
  content: '\e811'; }

/* '' */
/* line 71, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-lightbulb:before {
  content: '\e812'; }

/* '' */
/* line 72, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-vimeo-circled:before {
  content: '\e813'; }

/* '' */
/* line 73, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-search:before {
  content: '\e814'; }

/* '' */
/* line 74, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-info-circled:before {
  content: '\e815'; }

/* '' */
/* line 75, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-glyph-2:before {
  content: '\e816'; }

/* '' */
/* line 76, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-glyph-3:before {
  content: '\e817'; }

/* '' */
/* line 77, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-mail-alt:before {
  content: '\e818'; }

/* '' */
/* line 78, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-help-circled:before {
  content: '\e819'; }

/* '' */
/* line 79, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-chat:before {
  content: '\e81a'; }

/* '' */
/* line 80, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-minus-circled:before {
  content: '\e81b'; }

/* '' */
/* line 81, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-comment:before {
  content: '\e81c'; }

/* '' */
/* line 82, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-quote-right:before {
  content: '\e81d'; }

/* '' */
/* line 83, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-plus-circled:before {
  content: '\e81e'; }

/* '' */
/* line 84, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-twitter-circled:before {
  content: '\e81f'; }

/* '' */
/* line 85, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-a:before {
  content: '\e820'; }

/* '' */
/* line 86, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-quote-left:before {
  content: '\e821'; }

/* '' */
/* line 87, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-cancel-1:before {
  content: '\e822'; }

/* '' */
/* line 88, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-facebook-circled:before {
  content: '\e823'; }

/* '' */
/* line 89, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-s:before {
  content: '\e824'; }

/* '' */
/* line 90, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-ok-circled:before {
  content: '\e825'; }

/* '' */
/* line 91, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-forward:before {
  content: '\e826'; }

/* '' */
/* line 92, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-star:before {
  content: '\e828'; }

/* '' */
/* line 93, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-reply:before {
  content: '\e829'; }

/* '' */
/* line 94, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-trash:before {
  content: '\e82a'; }

/* '' */
/* line 95, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-heart:before {
  content: '\e82c'; }

/* '' */
/* line 96, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-thumbs-up-alt:before {
  content: '\e82d'; }

/* '' */
/* line 97, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-mic:before {
  content: '\e82e'; }

/* '' */
/* line 98, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-camera:before {
  content: '\e82f'; }

/* '' */
/* line 99, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-comment-inv-alt2:before {
  content: '\e830'; }

/* '' */
/* line 100, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-angle-circled-up:before {
  content: '\e831'; }

/* '' */
/* line 101, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-bookmark:before {
  content: '\e832'; }

/* '' */
/* line 102, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-star-1:before {
  content: '\e833'; }

/* '' */
/* line 103, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-angle-up:before {
  content: '\e834'; }

/* '' */
/* line 104, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-angle-right:before {
  content: '\e835'; }

/* '' */
/* line 105, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-angle-left:before {
  content: '\e836'; }

/* '' */
/* line 106, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-up-open:before {
  content: '\e837'; }

/* '' */
/* line 107, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-right-open:before {
  content: '\e838'; }

/* '' */
/* line 108, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-left-open:before {
  content: '\e839'; }

/* '' */
/* line 109, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-down-open:before {
  content: '\e83a'; }

/* '' */
/* line 110, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-right-dir:before {
  content: '\e83b'; }

/* '' */
/* line 111, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-left-dir:before {
  content: '\e83c'; }

/* '' */
/* line 112, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-up-dir:before {
  content: '\e83d'; }

/* '' */
/* line 113, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/fontello */
.icon-down-dir:before {
  content: '\e83e'; }

/* '' */
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
html, body {
  padding: 0;
  margin: 0; }

/* line 12, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
body {
  background-color: #fff;
  font-family: 'Lato' Arial, Helvetica, Verdana;
  font-size: 14px;
  line-height: 22px;
  font-weight: 100;
  color: #666;
  position: relative;
  -webkit-text-size-adjust: none; }

/* line 23, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
body * {
  text-shadow: none; }

/* line 28, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
h1 {
  text-align: center;
  margin: 0;
  font-size: 30pt;
  font-weight: 300;
  margin-bottom: 0.25em;
  line-height: 27pt; }

/* line 37, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
h2 {
  font-weight: 300;
  font-size: 20pt; }

/* line 42, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
h2, p {
  text-align: center; }

/* line 46, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
h3 {
  text-align: center;
  font-size: 20pt;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.125em; }

/* line 54, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
h4 {
  font-weight: 300;
  font-size: 17pt;
  line-height: 19pt;
  padding-bottom: 1em; }

/* line 61, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
h4.staff {
  margin: 0.5em 0 0 0;
  padding-bottom: 0.5em;
  text-align: right; }

/* line 67, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
h4 em {
  font-size: 10pt;
  display: block; }

/* line 72, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
p {
  margin: 0;
  padding: 0;
  line-height: 13pt; }

/* line 78, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.intro-text {
  padding: 0 2em; }

/* line 82, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
main {
  padding: 5px; }

/* line 86, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
blockquote {
  text-align: center;
  padding-bottom: 1.5em;
  max-width: 60%;
  margin: 0 auto; }

/* line 93, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
cite {
  display: block;
  text-transform: uppercase;
  color: #5eb7b3; }

/* line 99, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.profile-pic {
  width: 100px;
  margin: 2em 1em 0 1em;
  paadding-bottom: 0; }

/* line 106, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
i {
  font-size: 15pt; }

/* line 113, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
i, i:link, i:visited {
  color: #666; }

/* line 117, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
p.col-1 a:hover {
  color: red; }

/* line 122, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.primary-btn {
  border: 5px solid #ccc;
  padding: 0.5em 1.5em;
  margin: 1em;
  display: inline-block;
  text-decoration: none;
  color: #ccc; }
  /* line 37, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/mixins */
  .primary-btn:hover {
    border-color: #222;
    color: #222; }

/* line 126, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.centered {
  text-align: center;
  margin-top: 1em; }

/* line 134, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
#col-1:hover, #col-1:focus, #col-1:active {
  border-left: 4px solid #5eb7b3;
  color: #5eb7b3; }

/* line 141, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
#col-2:hover, #col-2:focus, #col-2:active {
  border-left: 4px solid #4b314f;
  color: #4b314f; }

/* line 148, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
#col-3:hover, #col-3:focus, #col-3:active {
  border-left: 4px solid #e1b62d;
  color: #e1b62d; }

/* line 154, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
#normal-li, #normal-li:link {
  color: #666;
  list-style: none; }

/* line 161, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
#normal-li:hover, #normal-li:focus, #normal-li:active {
  background-color: transparent; }

/* line 167, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.toggle-btn {
  color: #666;
  position: absolute;
  left: 0.7em;
  top: 1em;
  height: 40px;
  width: 40px;
  margin-top: 1em; }
  /* line 176, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
  .toggle-btn i {
    font-size: 30pt; }
  /* line 180, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
  .toggle-btn span {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block; }

/* line 185, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.img-flex {
  width: 70%; }

/* line 189, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.logo {
  width: 250px; }

/* line 193, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.feature {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow: hidden;
  background-color: #ccc;
  padding-top: 2em; }

/* line 203, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.index-carousel img {
  width: 100%; }

/* line 207, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.carousel-quotes {
  display: none; }

/* line 212, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.carousel, .carousel-fullview {
  text-align: center;
  margin: 0 auto; }

/* line 217, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.carousel-fullview {
  margin: 0 1em; }

/* line 221, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.quotes-mobile {
  padding: 5px; }

/* line 225, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.container {
  overflow: hidden;
  margin: 2em 0; }

/* line 230, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.container p {
  text-align: justify;
  padding-bottom: 1em;
  line-height: 15pt; }

/* line 236, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.container-one-column {
  overflow: hidden;
  margin: 2em 0; }

/* line 241, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.container-one-column p {
  text-align: justify;
  padding-bottom: 1em;
  line-height: 15pt; }

/* line 247, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.content-pusher {
  padding: 2em 0 4em 0;
  display: block; }

/* line 255, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.gridtable {
  table-layout: fixed;
  width: 90%;
  margin: 0 auto; }

/* line 261, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
table {
  padding-bottom: 4em; }

/* line 265, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
th {
  font-size: 20pt;
  font-weight: 500; }

/* line 270, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
td {
  margin: 0 auto;
  font-size: 12pt; }

/* line 275, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.display-tablet {
  display: none; }

/* line 282, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  background-color: #FAFAFA; }

/* line 291, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
input {
  margin-bottom: 10px; }

/* line 294, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
textarea {
  height: 100px;
  margin-bottom: 10px; }

/* line 299, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.head {
  padding: 1em 1em 0 1em;
  margin-bottom: 0; }

/* line 304, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.head h2 {
  margin-bottom: 0; }

/* line 308, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
input:first-of-type {
  margin-top: 35px; }

/* line 313, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
input, textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro', arial, sans-serif;
  border: 1px solid #cecece;
  background: #B0B0B0;
  color: #FAFAFA;
  border-radius: 5px;
  background-clip: padding-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px; }

/* line 333, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
::-webkit-input-placeholder {
  color: #FAFAFA; }

/* line 337, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
:-moz-placeholder {
  color: #FAFAFA; }

/* line 341, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
::-moz-placeholder {
  color: #FAFAFA; }

/* line 345, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
:-ms-input-placeholder {
  color: #FAFAFA; }

/* line 349, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
button {
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: #2ABCA7;
  padding: 5px 45px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2ABCA7;
  transition: 0.5s;
  display: inline-block;
  cursor: pointer;
  width: 30%; }

/* line 365, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
button:hover, .button:hover {
  background: #19a08c; }

/* line 369, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.icon-plane {
  display: block;
  width: 32px;
  height: 32px;
  margin: auto;
  background: url('http://www.timquincey.me/img/paperplane.svg'); }

/* line 377, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
label.error {
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-size: 1em;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d89c9c;
  width: 80%;
  margin: auto;
  color: #FAFAFA;
  border-radius: 6px; }

/* line 392, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.message {
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-size: 1.1em;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2ABCA7;
  width: 80%;
  margin: auto;
  color: #FAFAFA;
  border-radius: 6px; }

/* line 410, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 3.5em 2em;
  position: relative;
  bottom: 0;
  left: 0;
  clear: both; }

/* line 421, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.media {
  padding-top: 1em; }

/* line 425, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
#facebook:hover {
  color: #3C5A99; }

/* line 429, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
#twitter:hover {
  color: #74C2E8; }

/* line 433, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
#vimeo:hover {
  color: #1AB7EA; }

/* line 439, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/main */
.icon-facebook-circled, .icon-twitter-circled, .icon-vimeo-circled {
  font-size: 23pt; }

/* Slider */
/* line 3, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-loading .slick-list {
  background: #000 url('../images/ajax-loader.gif') center center no-repeat;
  padding-top: 2em; }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick.eot');
  src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg'); }

/* Arrows */
/* line 21, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: red;
  border: none;
  outline: none;
  background: transparent; }

/* line 46, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

/* line 55, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1; }

/* line 60, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25; }

/* line 66, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 79, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-prev {
  left: 25px; }

/* line 83, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
[dir='rtl'] .slick-prev {
  right: 25px;
  left: auto; }

/* line 89, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-prev:before {
  content: '←'; }

/* line 93, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
[dir='rtl'] .slick-prev:before {
  content: '→'; }

/* line 98, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-next {
  right: 20px; }

/* line 102, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
[dir='rtl'] .slick-next {
  right: auto;
  left: -60px; }

/* line 107, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-next:before {
  content: '→'; }

/* line 111, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
[dir='rtl'] .slick-next:before {
  content: '←'; }

/* Dots */
/* line 117, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-slider {
  padding: 15px 0; }

/* line 123, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-dots {
  bottom: 45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center; }

/* line 136, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

/* line 149, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

/* line 168, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; }

/* line 173, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1; }

/* line 177, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 199, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick-theme */
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black; }

/* Slider */
/* line 2, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

/* line 23, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

/* line 33, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-list:focus {
  outline: none; }

/* line 37, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

/* line 44, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* line 53, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

/* line 62, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-track:before, .slick-track:after {
  display: table;
  margin: 0 auto;
  content: ''; }

/* line 68, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-track:after {
  clear: both; }

/* line 72, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-loading .slick-track {
  visibility: hidden; }

/* line 77, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-slide {
  display: none;
  float: left;
  margin: 0 auto;
  height: 100%;
  min-height: 1px; }

/* line 85, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
[dir='rtl'] .slick-slide {
  float: right; }

/* line 89, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-slide img {
  display: block;
  margin: 0 auto; }

/* line 93, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-slide.slick-loading img {
  display: none; }

/* line 97, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-slide.dragging img {
  pointer-events: none; }

/* line 101, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-initialized .slick-slide {
  display: block; }

/* line 105, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-loading .slick-slide {
  visibility: hidden; }

/* line 109, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/slick */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

/* line 1, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/demo */
a, a:link, a:active, a:visited, a:hover {
  color: inherit;
  text-decoration: underline; }

/* line 7, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/demo */
nav:not(.mm-menu) {
  display: none; }

/* line 14, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/demo */
.header, .content, .footer {
  text-align: center; }

/* line 19, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/demo */
.header, .footer {
  background: #777;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 50px; }

/* line 34, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/demo */
.header.fixed {
  position: fixed;
  top: 0;
  left: 0; }

/* line 41, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/extension/demo */
.header a {
  background: center center no-repeat transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 1em;
  left: 10px; }

@media (max-width: 700px) {
  /* line 3, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  label.error {
    width: 90%; }

  /* line 6, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  input, textarea {
    width: 90%; }

  /* line 9, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  button {
    width: 90%; }
 }

@media only screen and (min-width: 768px) {
  /* line 19, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  h1 {
    font-size: 40pt; }

  /* line 23, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .content {
    padding: 150px 50px 50px 50px; }

  /* line 27, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .intro-text {
    padding: 0 3em;
    max-width: 80%;
    display: block;
    margin: 0 auto; }

  /* line 34, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .feature {
    padding: 3em 5em; }

  /* line 41, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .carousel {
    float: right;
    width: 45%; }

  /* line 46, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .carousel-quotes {
    display: block;
    float: left;
    width: 45%;
    padding-top: 2em;
    text-align: center;
    margin: 0 auto; }

  /* line 55, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .quotes-mobile {
    display: none; }

  /* line 59, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .carousel {
    padding-top: 2em; }

  /* line 63, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .left {
    float: left;
    width: 48%;
    text-align: left; }

  /* line 69, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .right {
    float: right;
    width: 48%;
    text-align: left; }

  /* line 75, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .the-family-ul {
    margin-top: 0 !important; }

  /* line 79, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .profile-pic {
    width: 100px;
    float: left;
    margin: 3.5em 1em 0 1em; }

  /* line 85, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .container-one-column {
    max-width: 70%;
    margin: 0 auto; }

  /* line 94, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .gridtable {
    table-layout: fixed;
    width: 100%; }

  /* line 99, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  th {
    font-size: 30pt;
    font-weight: 500;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc; }

  /* line 106, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  td {
    margin: 1em 2em;
    width: 300px;
    padding: 0 0.5em;
    vertical-align: middle;
    font-size: 13pt; }

  /* line 114, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .display-tablet {
    display: block; }

  /* line 118, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .display-mobile {
    display: none; }

  /* line 125, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  label.error {
    width: 90%; }

  /* line 128, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  input, textarea {
    width: 90%; }

  /* line 131, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  button {
    width: 90%; }

  /* line 135, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .message {
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-size: 1.1em;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2ABCA7;
    width: 80%;
    margin: auto;
    color: #FAFAFA;
    border-radius: 6px; }
 }

@media only screen and (min-width: 992px) {
  /* line 159, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .intro-text {
    padding: 0 4em;
    max-width: 60%; }

  /* line 164, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .carousel {
    max-width: 40%; }

  /* line 168, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .carousel-quotes {
    max-width: 40%; }

  /* line 172, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .left {
    float: left;
    max-width: 40%;
    text-align: left;
    margin-left: 8%; }

  /* line 179, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .right {
    float: right;
    max-width: 40%;
    margin-right: 8%; }

  /* line 185, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .gridtable {
    width: 81%;
    margin: 0 auto; }

  /* line 190, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .sponsor-width {
    width: 800px;
    margin: 0 auto; }

  /* line 195, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .patnership-width {
    width: 800px;
    margin: 0 auto; }

  /* line 200, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .single-column {
    margin: 0 auto; }

  /* line 204, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .feature {
    padding: 4em 10em;
    clear: both; }
 }

@media only screen and (min-widht: 1200px) {
  /* line 217, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .feature {
    padding: 8em; }

  /* line 221, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .single-column {
    max-width: 50%; }

  /* line 225, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/media-queries */
  .container-one-column {
    max-width: 50%; }
 }

/* line 7, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
#about-com-part, #about-indus-part, #fam-execu, #fam-sponsor, #artist-res, #youth-off-reach {
  height: 600px; }

/* line 12, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
#fam-execu, #portrait-project {
  height: 100%; }

/* line 16, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
#intro {
  padding-top: 0; }

/* line 26, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
#about-com-part, #about-indus-part, #fam-execu, #fam-sponsor, #artist-res, #youth-off-reach, #portrait-project {
  padding-top: 150px; }

/* line 32, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
.header {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  height: 105px;
  border-bottom: 1px solid #000; }

/* line 40, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
.header {
  top: 0; }

/* line 44, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
.header a {
  top: 30px; }

/* line 48, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
.content {
  padding-top: 180px;
  margin: 1em 2em; }

/* line 53, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
#header_nav {
  width: 100%;
  height: 100px;
  background-color: #666;
  position: fixed;
  top: 0;
  left: 0; }

/* line 62, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
#header_nav img {
  max-height: 100%;
  max-width: 100%; }

/* line 71, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
a, a:link, a:active, a:visited, a:hover {
  text-decoration: none !important; }

/* line 75, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
li:hover {
  color: #5eb7b3;
  background-color: #222; }

/* line 82, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
li, li:link, li:visited {
  color: white; }

/* line 86, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
.the-family-ul {
  margin-top: -1em; }

/* line 90, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
#seperator {
  color: #ccc;
  display: block;
  margin-top: 2em; }

/* line 96, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
#seperator:hover {
  color: #ccc; }

/* line 100, /Users/scribble-lies/Documents/Graphic Design VI/Interactive Design/art-start/zerofive/scss/components/header */
.patnership-width {
  margin-bottom: 4em;
  clear: both; }

