// Variables

$light-grey: #f6f6f6;
$hover-color: #222;
$text-color: #666;
$med-color: #bbb;
$thin-weight: 100;

$col-1: #5eb7b3; // Blue
$col-2: #8969AF; // Purple
$col-3: #e1b62d; // Yellow
$header-col: #000; // Black
