// Mixins

@mixin button($border-color, $color, $hover-color){
  border: 5px solid $border-color;
  padding: .5em 1.5em;
  margin: 1em;
  display: inline-block;
  text-decoration: none;
  color: $color;
  &:hover {
    border-color: $hover-color;
    color: $hover-color;
  }
}
