<div class="feature-section left-blog">
	<div class="quotes-mobile">
		<h3 class="col-3 small-header-mobile">What celebs are saying</h3>
		<blockquote>
		“Art Start is giving children a voice and helping kids discover their dreams.”
		<cite>Oprah Winfrey</cite>
		</blockquote>

		<blockquote>
		“I’m happy to support Art Start, a great organization that embraces creativity & art in a way that can change lives.”
		<cite>Alexander Wang</cite>
		</blockquote>

		<blockquote>
		“Art Start’s approach makes the most effective use of the resources available – whether dollars or people power.”
		<cite>President Bill Clinton</cite>
		</blockquote>

		<blockquote>
		“This project- I promise you- it works. The young men and women of Art Start have really touched my heart…”
		<cite>Russel Simmons</cite>
		</blockquote>

		<blockquote>
		“I have a lot of faith in these kids. Hopefully in 5 years there will be 25 Art Start programs in 25 other cities.”
		<cite>Bruce Willis</cite>
		</blockquote>

		<blockquote>
		“Art Start offers the opportunity for a child to have choices. And it’s a big deal! It empowers them.”
		<cite>Bill Cosby</cite>
		</blockquote>

		<blockquote>
		“The Art Start youth are a great inspiration for me, They have a friend in me for life.”
		<cite>Chita Rivera</cite>
		</blockquote>
	</div>

	<div class="carousel-quotes">
	<h3 class="col-3">What celebs are saying</h3>
		<div class="slider feature-quotes">
			<blockquote>
			“Art Start is giving children a voice and helping kids discover their dreams.”
			<cite>Oprah Winfrey</cite>
			</blockquote>

			<blockquote>
			“I’m happy to support Art Start, a great organization that embraces creativity & art in a way that can change lives.”
			<cite>Alexander Wang</cite>
			</blockquote>

			<blockquote>
			“Art Start’s approach makes the most effective use of the resources available – whether dollars or people power.”
			<cite>President Bill Clinton</cite>
			</blockquote>

			<blockquote>
			“This project- I promise you- it works. The young men and women of Art Start have really touched my heart…”
			<cite>Russel Simmons</cite>
			</blockquote>

			<blockquote>
			“I have a lot of faith in these kids. Hopefully in 5 years there will be 25 Art Start programs in 25 other cities.”
			<cite>Bruce Willis</cite>
			</blockquote>

			<blockquote>
			“Art Start offers the opportunity for a child to have choices. And it’s a big deal! It empowers them.”
			<cite>Bill Cosby</cite>
			</blockquote>

			<blockquote>
			“The Art Start youth are a great inspiration for me, They have a friend in me for life.”
			<cite>Chita Rivera</cite>
			</blockquote>
		</div>
	</div>

	<div class="blog-section">
		<h3 class="col-3">Blog</h3>
		<h5>Art Start is Hiring!</h5>
		<p>Art Start seeks an enthusiastic, passionate and creative leader to head our One Mic music recording program at Art Start’s.. <a class="strong read-more" target="_blank" href="http://art-start.org/art-start-is-hiring/">Read More</a></p>
		<h5 class="more-padding-top">Art Start Welcomes Co-Executive Direction in 2015</h5>
		<p>On April 1, 2015, after seven months of transition, Hannah Immerman, Director of Programs and Partnerships for Art Start.. <a class="strong read-more" target="_blank" href="http://art-start.org/art-start-welcomes-co-executive-director-in-2015/#.VPzMK2TF-ts">Read More</a></p>

	</div>
</div>


<div class="carousel right no-margin-top">
<h3 class="col-3">Latest Masterpieces</h3>

	<div class="slider blog-carousel">
	  <div><img class="img-flex" src="images/blog/blog-masterpiece01.png"></div>
	  <div><img class="img-flex" src="images/blog/blog-masterpiece02.png"></div>
	  <div><img class="img-flex" src="images/blog/blog-masterpiece03.png"></div>
	  <div><img class="img-flex" src="images/blog/blog-masterpiece04.png"></div>
	  <div><img class="img-flex" src="images/blog/blog-masterpiece05.png"></div>
	  <div><img class="img-flex" src="images/blog/blog-masterpiece06.png"></div>
	  <div><img class="img-flex" src="images/blog/blog-masterpiece07.png"></div>
	  <div><img class="img-flex" src="images/blog/blog-masterpiece08.png"></div>
	  <div><img class="img-flex" src="images/blog/blog-masterpiece09.png"></div>
	  <div><img class="img-flex" src="images/blog/blog-masterpiece10.png"></div>
	</div>
</div>
