<div class="quotes-mobile">
<h3>What celebs are saying</h3>
	<blockquote>
	“Art Start is giving children a voice and helping kids discover their dreams.”
	<cite>Oprah Winfrey</cite>
	</blockquote>

	<blockquote>
	“I’m happy to support Art Start, a great organization that embraces creativity & art in a way that can change lives.”
	<cite>Alexander Wang</cite>
	</blockquote>

	<blockquote>
	“Art Start’s approach makes the most effective use of the resources available – whether dollars or people power.”
	<cite>President Bill Clinton</cite>
	</blockquote>

	<blockquote>
	“This project- I promise you- it works. The young men and women of Art Start have really touched my heart…”
	<cite>Russel Simmons</cite>
	</blockquote>

	<blockquote>
	“I have a lot of faith in these kids. Hopefully in 5 years there will be 25 Art Start programs in 25 other cities.”
	<cite>Bruce Willis</cite>
	</blockquote>

	<blockquote>
	“Art Start offers the opportunity for a child to have choices. And it’s a big deal! It empowers them.”
	<cite>Bill Cosby</cite>
	</blockquote>

	<blockquote>
	“The Art Start youth are a great inspiration for me, They have a friend in me for life.”
	<cite>Chita Rivera</cite>
	</blockquote>
</div>

<div class="carousel-quotes">
<h3>What celebs are saying</h3>
	<div class="slider feature-quotes">
		<blockquote>
		“Art Start is giving children a voice and helping kids discover their dreams.”
		<cite>Oprah Winfrey</cite>
		</blockquote>

		<blockquote>
		“I’m happy to support Art Start, a great organization that embraces creativity & art in a way that can change lives.”
		<cite>Alexander Wang</cite>
		</blockquote>

		<blockquote>
		“Art Start’s approach makes the most effective use of the resources available – whether dollars or people power.”
		<cite>President Bill Clinton</cite>
		</blockquote>

		<blockquote>
		“This project- I promise you- it works. The young men and women of Art Start have really touched my heart…”
		<cite>Russel Simmons</cite>
		</blockquote>

		<blockquote>
		“I have a lot of faith in these kids. Hopefully in 5 years there will be 25 Art Start programs in 25 other cities.”
		<cite>Bruce Willis</cite>
		</blockquote>

		<blockquote>
		“Art Start offers the opportunity for a child to have choices. And it’s a big deal! It empowers them.”
		<cite>Bill Cosby</cite>
		</blockquote>

		<blockquote>
		“The Art Start youth are a great inspiration for me, They have a friend in me for life.”
		<cite>Chita Rivera</cite>
		</blockquote>
	</div>
</div>

<div class="carousel">
<h3>Blog</h3>
<p>Here are recent posts about our website, kids and staff.</p>
	<div class="slider blog-carousel">
	  <div><p>Post 1</p><cite>- Unknown</cite></div>
	  <div><p>Post 2</p><cite>- Unknown</cite></div>
	  <div><p>Post 3</p><cite>- Unknown</cite></div>
	  <div><p>Post 4</p><cite>- Unknown</cite></div>
	  <div><p>Post 5</p><cite>- Unknown</cite></div>
	</div>
</div>
