<blockquote>
“Art Start is giving children a voice and helping kids discover their dreams.”
<cite>Oprah Winfrey</cite>
</blockquote>

<blockquote>
“Art Start is giving children a voice and helping kids discover their dreams.”
<cite>Oprah Winfrey</cite>
</blockquote>

<blockquote>
“Art Start is giving children a voice and helping kids discover their dreams.”
<cite>Oprah Winfrey</cite>
</blockquote>

<blockquote>
“Art Start is giving children a voice and helping kids discover their dreams.”
<cite>Oprah Winfrey</cite>
</blockquote>

<blockquote>
“Art Start is giving children a voice and helping kids discover their dreams.”
<cite>Oprah Winfrey</cite>
</blockquote>

<div class="carousel-quotes">
	<div class="slider blog-carousel">
	  <div><p>Quote 1</p><cite>- Unknown</cite></div>
	  <div><p>Quote 2</p><cite>- Unknown</cite></div>
	  <div><p>Quote 3</p><cite>- Unknown</cite></div>
	  <div><p>Quote 4</p><cite>- Unknown</cite></div>
	  <div><p>Quote 5</p><cite>- Unknown</cite></div>
	</div>
</div>
