<p>©2013 Art Start<br>Non-Profit website design by Zerofive. We do not own the content, plugins nor the images.</p>

<div id='search-box'>
  <form action='/search' id='search-form' method='get' target='_top'>
    <input id='search-text' name='q' placeholder='Join our Newsletter' type='text'/>
    <button id='search-button' type='submit'><span>Submit</span></button>
  </form>
</div>

<p class="media">
	<a id="facebook" href="https://www.facebook.com/artstartorg"><span class="icon-facebook-circled"></span></a>
	<a id="twitter" href="https://twitter.com/ARTSTARTNYC"><span class="icon-twitter-circled"></span></a>
	<a id="vimeo" href="https://vimeo.com/artstart"><span class="icon-vimeo-circled"></span></a>
</p>
