<nav id="menu">
   <ul>
      <li id="col-1"><a href="{{site.baseurl}}/index.html">Home</a></li>
      <li id="col-2"><span>About Us</span>
         <ul>
            <li id="col-2"><a href="{{site.baseurl}}/about.html">About Us</a></li>
            <li id="col-2"><a href="{{site.baseurl}}/about.html#about-com-part">Community Partnerships</a></li>
            <li id="col-2"><a href="{{site.baseurl}}/about.html#about-indus-part">Industry Partners</a></li>
         </ul>
      </li>
      <li id="col-3"><span>Support</span>
         <ul>
            <li id="col-3"><a href="support.html">Support</a></li>
            <li id="col-3"><a href="support.html#monthly-donor">Monthly Donor Network</a></li>
            <li id="col-3"><a href="support.html#volunteer">Volunteer</a></li>
            <li id="col-3"><a href="support.html#commitment">The commitment</a></li>
            <li id="col-3"><a href="support.html#the-schedule">The Schedule</a></li>
            <li id="col-3"><a href="support.html#indus-part">Become an Industry Partner</a></li>
            <li id="col-3"><a href="support.html#port-project">Portrait Project Traveling Exhibition</a></li>
            <li id="col-3"><a href="support.html#supply-list">Supply Wish List</a></li>
            <li id="col-3"><a href="support.html#quote">A Quote</a></li>
         </ul>
      </li>
      <li id="col-1"><span>Programs</span>
         <ul>
            <li id="col-1"><a href="programs.html#">Homeless Youth Outreach</a></li>
            <li id="col-1"><a href="programs.html#">Emerging Artist - in - Residence</a></li>
            <li id="col-1"><a href="programs.html#">Youth Offender Outreach</a></li>
            <li id="col-1"><a href="programs.html#">2014 Portrait Project</a></li>
         </ul>
      </li>
      <li id="col-2"><span>The Family</span>
         <ul>
            <li id="col-2"><a href="thefamily.html">The Family</a></li>
            <li id="col-2"><a href="thefamily.html#">Executive Board</a></li>
            <li id="col-2"><a href="thefamily.html#">Volunteers</a></li>
            <li id="col-2"><a href="thefamily.html#">Our Sponsors</a></li>
         </ul>
      </li>
      <li id="col-3"><span>News & Press</span>
         <ul>
            <li id="col-3"><a href="news&press.html#">Press</a></li>
            <li id="col-3"><a href="news&press.html#">News</a></li>
         </ul>
      </li>
      <li id="col-1"><a href="contact.html">Contact</a></li>
   </ul>
</nav>


