<header class="header">
  <a class="toggle-btn" href="#"><i id="menu-icon" class="icon-i-menu"></i><span>Menu</span></a>
  <nav class="navigation slide-menu">
    <div id="accordian">
      <ul>
        <li>
          <h3><span></span>Support</h3>
          <ul>
            <li><a class="col-1" href="#">Donate</a></li>
            <li><a class="col-2"href="#">Monthly Donor Network</a></li>
            <li><a class="col-3"href="#">Volunteer</a></li>
            <li><a class="col-1"href="#">Portrait Project Traveling Exhibition</a></li>
            <li><a class="col-1"href="#">Supply Wish List</a></li>
          </ul>
        </li>
        <!-- we will keep this LI open by default -->
        <li>
          <h3><span class="icon-tasks"></span>About</h3>
          <ul>
            <li><a href="#">About Art Start</a></li>
            <li><a href="#">Industry Partners</a></li>
            <li><a href="#">Community Partnerships</a></li>
          </ul>
        </li>
        <li>
          <h3><span class="icon-calendar"></span>Programs</h3>
          <ul>
            <li><a href="#">Homeless Youth Outreach</a></li>
            <li><a href="#">Emerging Artist - in - residence</a></li>
            <li><a href="#">Youth Offender Outreach</a></li>
            <li><a href="#">2014 Portrait Project</a></li>
          </ul>
        </li>
        <li>
          <h3><span class=""></span>The Family</h3>
          <ul>
            <li><a href="#">Directors</a></li>
            <li><a href="#">Executive Board</a></li>
            <li><a href="#">Volunteers</a></li>
            <li><a href="#">Our Sponsors</a></li>
          </ul>
        </li>
            <li>
          <h3><span class=""></span>News & Press</h3>
          <ul>
            <li><a href="#">Press</a></li>
            <li><a href="#">News</a></li>
          </ul>
        </li>
            <li>
          <h3><span class=""></span><a href="index.html">Contact Us</a></h3>

        </li>
        <h3><a href="index.html">Home</a></h3>
      </ul>
    </div>
  </nav>

  <h1><a href="index.html"><img class="img-flex" src="images/art-start-logo.svg"></a></h1>

</header>

