
      <nav id="menu">
         <ul class="col-1">
            <li><a href="{{site.baseurl}}/index.html">Home</a></li>
            <li class="menu"><span>Support</span>
               <ul class="col-1">
                  <li ><a href="support.html#">Support</a></li>
                  <li><a href="support.html#">Donate</a></li>
                  <li><a href="support.html#">Monthly Donor Network</a></li>
                  <li><a href="support.html#">Volunteer</a></li>
                  <li><a href="support.html#">Portrait Project Traveling Exhibition</a></li>
                  <li><a href="support.html#">Supply Wish List</a></li>
               </ul>
            </li>
            <li><span>About Us</span>
               <ul class="col-2">
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="about.html#">Industry Partners</a></li>
                  <li><a href="about.html#">Community Partnerships</a></li>
               </ul>
            </li>
            <li><span>Programs</span>
               <ul class="col-3">
                  <li><a href="programs.html#">Our Programs</a></li>
                  <li><a href="programs.html#">Homeless Youth Outreach</a></li>
                  <li><a href="programs.html#">Emerging Artist - in - Residence</a></li>
                  <li><a href="programs.html#">Youth Offender Outreach</a></li>
                  <li><a href="programs.html#">2014 Portrait Project</a></li>
               </ul>
            </li>
            <li><span>The Family</span>
               <ul class="col-1">
                  <li><a href="thefamily.html#">The Family</a></li>
                  <li><a href="thefamily.html#">Directors</a></li>
                  <li><a href="thefamily.html#">Executive Board</a></li>
                  <li><a href="thefamily.html#">Volunteers</a></li>
                  <li><a href="thefamily.html#">Our Sponsors</a></li>
               </ul>
            </li>
            <li><span>News & Press</span>
               <ul class="col-2">
                  <li><a href="news&press.html#">Press</a></li>
                  <li><a href="news&press.html#">News</a></li>
               </ul>
            </li>
            <li class="col-3"><a href="contact.html">Contact</a></li>
         </ul>
      </nav>


