// Carousel Properties
.index-carousel img{
  width: 100%;
}

.carousel-quotes{
  display: none;
}

.carousel,
.carousel-fullview {
  text-align: center;
  margin: 0 auto;
}

.carousel {
	position: relative;
}

.carousel-fullview {
  margin: 0 1em;
}

.quotes-mobile {
  padding: 5px;
}

.img-carousel-full-width{
	width: 100%;
}
