// for the one page layout
#about-indus-part,
#fam-execu,
#fam-sponsor,
#artist-res,
#youth-off-reach,
#port-project,
#fam-execu,
#portrait-project,
#about-com-part,
#cor-sponsor,
#monthly-donor,
#volunteer,
#commitment,
#the-schedule,
#indus-part,
#supply-list,
#quote,
#news,
#press {
  height: 100%;
  display: block;
}

#intro,
#news {
	padding-top: 0;
}

#about-com-part,
#about-indus-part,
#fam-execu,
#fam-sponsor,
#artist-res,
#youth-off-reach,
#portrait-project,
#cor-sponsor,
#monthly-donor,
#volunteer,
#commitment,
#the-schedule,
#port-project,
#indus-part,
#supply-list,
#quote,
#press {
	padding-top: 50px;
	overflow: hidden;
}

// Fixed Header

.header
{
	box-sizing: border-box;
	width: 100%;
	position: fixed;
}

.header
{
	top: 0;
}
// End of Header

