// for the one page layout
#about-indus-part,
#fam-execu,
#fam-sponsor,
#artist-res,
#youth-off-reach,
#port-project,
#fam-execu,
#portrait-project,
#about-com-part,
#cor-sponsor,
#monthly-donor,
#volunteer,
#commitment,
#the-schedule,
#indus-part,
#supply-list,
#quote {
  height: 100%;
  display: block;
}

#intro {
	padding-top: 0;
}

#about-com-part,
#about-indus-part,
#fam-execu,
#fam-sponsor,
#artist-res,
#youth-off-reach,
#portrait-project,
#cor-sponsor,
#monthly-donor,
#volunteer,
#commitment,
#the-schedule,
#port-project,
#indus-part,
#supply-list,
#quote {
	padding-top: 50px;
	overflow: hidden;
}

// Fixed Header

.header,
.footer
{
	box-sizing: border-box;
	width: 100%;
	position: fixed;
}
.header
{
	top: 0;
}
.footer
{
	bottom: 0;
}

// End of Header




li,
li:link,
li:visited{
  color: white;
  list-style: none;
}

li:hover{
	color: $col-3;
	cursor: pointer;
}

li:before {
	color: $col-3;
}

li:before:hover {
	color: #000;
}

.the-family-ul {
  margin-top: -1em;
}

#seperator {
	color: $col-2;
  display: block;
  margin-top: 2em;
}

.patnership-width {
  margin-bottom: 4em;
  display: block;
  clear: both;
}

.about-indus-part {
	display: block;

}

