@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
}

h1, h3, p {
  max-width: 600px;
  margin: 0 auto 1em;
}

code {
  padding: 2px;
  background: #ddd;
}

// Navigation

.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.nav-item {
  width: 200px;
  border-bottom: 1px solid $light-grey;
}

.nav-item a {
  display: block;
  padding: 1em;
  text-decoration: none;
}

.nav-item a:hover {
  color: $text-color;
  background: $light-grey;
}

// Site Wrap
/* This allows the nav to push the content properly*/

.site-wrap {
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 1em 4em 7em 4em;
  background-size: 200%;
}

// Nav Trigger

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 2em;
  top: 3em;
  z-index: 2;
  height: 35px;
  width: 35px;
  cursor: pointer;
  background-size: contain;
  background-image: url('../../images/i-menu.svg');
}

.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
  background-image: url('../../images/i-close.svg');
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  border-left: 1px solid $light-grey;
  height: 100%;
}

*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }


&[data-state='slide-open'] .site-wrap{
        transform: translateX(-100%);
}
&[data-state='slide-open']{
  overflow: visible;
}

// Logo
.img-flex {
  width: 250px;
  display: block;
  margin: 0 auto;
}

// Donate Button
.primary-btn {
  @include button($light-grey, #fff, $hover-color);
  position: absolute;
  right: 1em;
  top: 2em;
}

// Footer
