@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html, body
{
  padding: 0;
  margin: 0;
}
body
{
  background-color: #fff;
  font-family: 'Lato' Arial, Helvetica, Verdana;
  font-size: 14px;
  line-height: 22px;
  font-weight: 100;
  color: #666;
  position: relative;
  -webkit-text-size-adjust: none;
}
body *
{
  text-shadow: none;
}


// Links
a,
a:link,
a:active,
a:visited{
  text-decoration: none;
  color: #666;
}

a:hover {
  color: $col-2;
}

// Button

.yellow-btn {
  @include button($med-color, #ccc, $col-3);
  margin: 1em 1em 2.5em;
}

.purple-btn {
  @include button($med-color, #ccc, $col-2);
  margin: 1em 1em 2.5em;
}

.yellow-btn-footer {
  @include button($med-color, #ccc, $col-3);
  margin: 0;
}

.yellow-btn:hover,
.purple-btn:hover {
  font-weight: 100;
}

.toggle-btn {
  color: $text-color;
  position: absolute;
  left: .7em;
  top: 1em;
  height: 40px;
  width: 40px;
  margin-top: 1em;

  i {
    font-size: 30pt;
  }
  span {
    @include hide-text;
  }
}

// Feature Section
.feature {
  overflow: hidden;
  background-color: $light-grey;
  padding-top: 2em;
  border-bottom: 5px solid $col-3;
  border-top: 1px solid #eee;
}

.feature-section {
  display: block;
}

.blog-section {
  display: block;
  padding: 1em 6em 2em;
}

.blog-section p {
  text-align: justify;
}

// Containers
.container {
  overflow: hidden;
  margin: 2em 0;
}

.container p {
  text-align: justify;
  padding-bottom: 1em;
  line-height: 15pt;
}

.container-banner {
  max-width: 100%;
  padding-bottom: 2em;
}

.container-one-column {
  overflow: hidden;
  margin: 2em 0;
}

.container-one-column p {
  text-align: justify;
  padding-bottom: 1em;
  line-height: 15pt;
}

.container-one-column-large {
  overflow: hidden;
  margin: 2em 0;
}

.container-one-column-large p {
  text-align: justify;
  padding-bottom: 1em;
  line-height: 15pt;
}

// For the HOME PAGE ONLY
.container-one-column-index {
  overflow: hidden;
  margin: 2em 0;
}

.container-one-column-index p {
  text-align: justify;
  padding-bottom: 1em;
  line-height: 15pt;
}

.content {
  padding: 1em 4.3em 0 4.3em;
  position: relative;
}

//    News & Press Styling
.news-press-container {
  text-align:center;
  display:inline-block;
  width:100%;
  overflow:hidden;
  margin: 0 auto;
}

.news-press-main {
  margin:1em auto;
  padding: 1em;
  background-color: #eee;
  width: 70%;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
}

.news-press-content {
  padding: .5em;
}

.news-press-content p {
  text-align: center;
  line-height: 15pt;
}


//    Video Settings

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 43%;
  margin-left: 17%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.js-video.widescreen {
  padding-bottom: 56.34%;
}

.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  position: absolute;
  margin: 0 auto;
}


//      General (Uncategorized) Properties

#seperator {
  color: $col-2;
  display: block;
  margin-top: 2em;
}

.content-pusher {     // Used for arrows
  padding: 4em 0 0 0;
  display: block;
}

.patnership-width {
  margin-bottom: 4em;
  display: block;
  clear: both;
}

.about-indus-part {
  display: block;
}

.centered-no-margin{
  margin: 0;
}

.no-padding{
  padding: 0 !important;
}

.more-margin-top {
  margin-top: 3.5em !important;
}

.small-padding-top {
  padding-top: .5em !important;
}

.more-padding-top {
  padding-top: 2em !important;
}

.more-margin-contact {
  margin-top: 0;
}

.more-padding-bottom {
  padding-bottom: 2em !important;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin {
  margin: 0;
}

.small-header-mobile {
  width: 70%;
  margin: 0 auto;
}
