// Media Query for Contact Form Button
@media (max-width: 700px) {
  label.error {
    width: 90%;
  }
  input, textarea {
    width: 90%;
  }
  button {
    width:90%;
  }
}

// End of Media Query for Form

      // Media Queries - Tablet Size
@media only screen and (min-width: 768px){

  h1 {
    font-size: 40pt;
  }

  .logo {
    width: 400px;
  }

	.content {
		padding: 0px 2em 10em 2em;
	}

  .intro-text {
  padding: 0 3em;
  max-width: 80%;
  display: block;
  margin: 0 auto;
  }

  .feature {
    padding: 3em 5em;

  }

  // Carousel

  .carousel {
    float: right;
    width: 45%;
  }

  .carousel-quotes{
    display: block;
    float: left;
    width: 45%;
    padding-top: 2em;
    text-align: center;
    margin: 0 auto;
  }

  .quotes-mobile {
    display: none;
  }

  .carousel {
    padding-top: 2em;
  }

  .section-img-flex-left,
  .section-img-flex-right {
    width: 60%;
    display: block;
    margin: 2em 0;
  }

  .section-img-flex-right {
  float: right;
  }

  .section-img-flex-left {
  float: left;
}


  .section-img-flex-right img,
  .section-img-flex-left img {
    margin-top: 3em;
  }

  .vertical-aligning {
    margin-top: 10%;
  }

  .left {
  float: left;
  width: 48%;
  text-align: left;
  }

  .right {
    float: right;
    width: 48%;
    text-align: left;
  }

  .the-family-ul {
    margin-top: 0 !important;
  }

  .faded-white {
    padding: 1em 3em;
  }


h4.staff {
  text-align: right;
}

  .profile-pic {
  float: left;
  margin: 3.5em 1em 0 1em;
  }

  .container-one-column {
    max-width: 65%;
    margin: 0 auto;
  }



// Table

.gridtable {
  table-layout:fixed;
  width: 100%;
}

th {
  font-size: 30pt;
  font-weight: 500;
  padding-bottom: .5em;
  border-bottom: 1px solid $light-grey;
}

td {
  margin: 1em 2em;
  width: 300px;
  padding: 0 .5em;
  vertical-align: middle;
  font-size: 13pt;
}

.display-tablet {
  display: block;
}

.display-mobile {
  display: none;
}


// Contact Form

  label.error {
    width: 90%;
  }
  input, textarea {
    width: 90%;
  }
  button {
    width:90%;
  }

.message {
    font-family:'Source Sans Pro',arial,sans-serif;
    font-size:1.1em;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#2ABCA7;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}



} // End of Media Query


        // Media Queries - Desktop Size
@media only screen and (min-width: 992px){


  .intro-text {
    padding: 0 4em;
    max-width: 60%;
}

  .content {
    max-width: 70%;
    margin: 0 auto;
  }

   .carousel {
    max-width: 40%;
  }

  .carousel-quotes{
    max-width: 40%;
  }

  .left {
  float: left;
  max-width: 40%;
  text-align: left;
  margin-left: 8%;
}

.right {
  float: right;
  max-width: 40%;
  margin-right: 8%;
}


  .section-1,
  .section-2 {
    padding: 6em 8em;
  }

  .vertical-aligning {
    max-width: 750px;
  }

   .section-img-flex-right,
   .section-img-flex-left {
  width: 350px;
  }

  .gridtable {
    width: 81%;
    margin: 0 auto;
  }

  .sponsor-width{
    width: 800px;
    margin: 0 auto;
  }

  .patnership-width{
    width: 800px;
    margin: 0 auto;
  }

  .single-column {
    margin: 0 auto;
  }

    .feature {
    padding: 4em 10em;
    clear: both;
  }

  .faded-white {
    width: 50%;
  }


} // End of Media Query


      // Media Queries - Large Desktop Size
@media only screen and (min-width: 1200px){


  .feature {
    padding: 8em;
  }

    .single-column {
    max-width: 50%;
  }

  .container-one-column {
    max-width: 50%;
  }

  .faded-white {
    width: 40%;
  }

  .container-one-column-index {
    width: 75%;
    margin: 0 auto;
  }

} // End of Media Query
