<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Art Start</title>

		<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/css/style.css"/>
		<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/src/css/jquery.mmenu.css"/>
		<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/src/css/addons/jquery.mmenu.dragopen.css" />
		<script type="text/javascript" src="{{site.baseurl}}/js/modernizr.custom.js"></script>
		<meta name="handheldfriendly" content="true">
		<meta name="mobileoptimized" content="240">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta property="og:type" content="website">
		<meta property= "og:title" content="Art Start · Non Profit Organization· Marginalized Youth">
		<meta property= "og:url" content="http://wwww.artstart.org">
		<meta property= "og:site_name" content="Art Start offers creative worshops, programs and partnering youth agencies">
		<meta property= "og:description" content="Art Start, nurtures the voices, hearts and minds of New York City's marginalized youth for personal develop.">

	</head>
	<body>
		<div id="page">
			<div class="header FixedTop">
				<a href="#menu"></a>
			</div>{% include nav.html %}
			<div class="logo">
				<a href="{{site.baseurl}}/"><img class="logo-img" src="{{site.baseurl}}/images/art-start-logos-purple.svg" alt="Art Start Logo"></a>
			</div>
			<div class="content" id="content">

				{{content}}

			</div>
			<div class="feature">{% include feature.html %}</div>
			<footer>{% include footer.html %}</footer>
		</div>

	<!-- Main jQuery -->

		<script type="text/javascript" src="http://thecodeplayer.com/uploads/js/jquery-1.7.1.min.js"></script>

 <!-- Push Nav -->
	  <script type="text/javascript" src="{{site.baseurl}}/js/push-menu.js" ></script>
	  <script type="text/javascript" src="http://hammerjs.github.io/dist/hammer.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/src/js/jquery.mmenu.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/src/js/addons/jquery.mmenu.fixedelements.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/src/js/addons/jquery.mmenu.dragopen.min.js"></script>

	 <!-- Carousel -->
	  <script type="text/javascript" src="{{site.baseurl}}/js/slick.min.js"></script>
	  <script type="text/javascript" src="{{site.baseurl}}/js/text-carousel.js"></script>

	<!-- Contact Form -->
		<script type="text/javascript" src="{{site.baseurl}}/js/contact-form.js"></script>

	<!-- Thumbnail Grid - News & Press -->

		<script src="{{site.baseurl}}/js/grid.js"></script>
		<script>
			$(function() {
				Grid.init();
			});
		</script>
		<script type="text/javascript" src="{{site.baseurl}}/js/modernizr.custom.79639.js"></script>
	</body>
</html>
