<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Art Start</title>
		<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/css/style.css"/>
		<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/css/demo.css"/>
		<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/src/css/jquery.mmenu.css"/>
		<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/src/css/addons/jquery.mmenu.dragopen.css"/>
		<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/src/css/extensions/jquery.mmenu.themes.css" />
		<meta name="handheldfriendly" content="true">
		<meta name="mobileoptimized" content="240">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta property="og:type" content="website">
		<meta property= "og:title" content="Art Start · Non Profit Organization· Marginalized Youth">
		<meta property= "og:url" content="http://wwww.artstart.org">
		<meta property= "og:site_name" content="Art Start offers creative worshops, programs and partnering youth agencies">
		<meta property= "og:description" content="Art Start, nurtures the voices, hearts and minds of New York City's marginalized youth for personal develop.">

	</head>
	<body>
	<div id="page">

			<div id="header_nav" class="header FixedTop">
				<a href="#menu"></a>
				<img class="logo" src="{{site.baseurl}}/images/art-start-logo.svg" alt="Art Start Logo">
				</div>

				{% include nav.html %}
				<div class="content" id="content">
				{{content}}
		</div>
				<div class="feature">{% include feature.html %}</div>
				<footer>{% include footer.html %}</footer>


	</div>

		<!-- jQuery -->

		<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
 <!-- Carousel -->
	<script src="http://thecodeplayer.com/uploads/js/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="js/slick.min.js" type="text/javascript"></script>
  <script src="js/text-carousel.js" type="text/javascript"></script>

 <!-- Push Nav -->


  <script src="js/push-menu.js" type="text/javascript"></script>
  <script type="text/javascript" src="http://hammerjs.github.io/dist/hammer.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<script type="text/javascript" src="src/js/jquery.mmenu.min.js"></script>
	<script type="text/javascript" src="src/js/addons/jquery.mmenu.dragopen.min.js"></script>
	<script type="text/javascript" src="src/js/addons/jquery.mmenu.fixedelements.min.js"></script>
	<script type="text/javascript" src="src/js/jquery.mmenu.min.js"></script>


	</body>
</html>
