<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Art Start</title>
		<link href=".css" rel="stylesheet">
	</head>
	<body>

	<header>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="programs.html">Programs</a></li>
			<li><a href="support.html">Support</a></li>
			<li><a href="thefamily.html">The Family</a></li>
			<li><a href="news&press.html">News & Press</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>

	</header>
	{{content}}

	</body>
</html>
